.actionDiv {
    width: 10%;
    display: flex;
    justify-content: left;
    padding-top: 18px;
    padding-bottom: 18px;
}
.formRow {
    margin-top: 24px !important;
}    
.errorMessageSpan {
    display: block;
    color: red;
}